[package]
name = "mchep"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[dependencies]
rand.workspace = true
rayon.workspace = true
rand_pcg.workspace = true
mpi = { workspace = true, optional = true }

[features]
default = []
mpi = ["dep:mpi"]
